.container-projects {
    display: flex;
    justify-content: space-around;

    section {
        width: 25%;
        text-align: center;
        position: relative;

        &:hover {
            cursor: pointer;
        }

        .layer {
            position: absolute;
            z-index: -1;

            img {
                width: 100%;
            }
        }
    }
}  