.container-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    section {
        position: absolute;
        top: 50%;
        // bottom: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-1;
        border-radius: 20px;
        width: 45px;    
        ul {
            list-style-type: none;


            .navigation-a {
                margin-right: 1rem;
            }

            li {
                margin-top: 35px;
                margin-left: 5px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

}   