.container-columns {
    display: grid; 
    grid-template-columns: 0.25fr 0.9fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ".container-breadcrumb, .container-breadcrumb-test-children";   
    
    .container-breadcrumb {
        grid-area: ".container-breadcrumb";
        background-color: $color-1;
        height: 1100px;

        img {
            width: 100%;
        }

        ul {
            list-style-type: none;
            padding: 0px;

            .round-full-top {
                border: 1px solid black;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: black;
                margin: auto;
            }

            div {
                display: flex;
                justify-content: center;

                .all-purpose-bar-top {
                    height: 55px;
                    border: 1px solid black;
                    width: 0px;
                    position: absolute;
                }
                
            }

            li {
                text-align: center;
                margin-top: 4rem; 
                display: flex;
                justify-content: center;

                .all-purpose-bar {
                    margin-top: 40px;
                    height: 55px;
                    width: 0px;
                    border: 1px solid black;
                    position: absolute;
                }

                a {
                    text-decoration: none;
                    font-size: 2rem;
                    color: $color-3;
                    font-weight: bold;
                }
            }
        }

        .container-breadcrumb-children {
            grid-area: ".container-breadcrumb-children";
            
            h1 {
                text-align: center;
            }
            
        }
    }
}