.container-breadcrumb-trail {
    
    div {
        position: absolute;
        height: 100vh;
        width: 20%;
        background-color: yellow;

        .round-full-top, .round-full-bot {
            border: 1px solid $color-1;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background-color: $color-3;
            position: absolute;
        }
        .round-full-top {
            right: 50%;
            transform: translateX(68%);
        }
        
        .all-purpose-bar {
            border: 1px solid black;
            background-color: black;
            
            height: 40px;
            width: 0px;
            margin: auto;
        }

        img {
            height: 350px;
            width: 100%;
        }
           
        ul {
            list-style-type: none;
            padding: 0px;
            position: absolute;
            right: 50%;
            transform: translate(50%);
            
            li {
                text-align: center;
                margin-top: 2rem;
                z-index: 10;

                .breadcrumb-list {
                    text-decoration: none;
                    font-size: 2rem;
                    width: 50%;
                    font-weight: bolder;
                    color: $color-3;  
                    margin-top: 40px;
                }
            }
        }
    }
}