.container-contact {
    
    .container-breadcrumb-children {
        height: 1100px;
        width: 100%;
        
        .container-form {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 980px;

            form {
                display: flex;
                flex-direction: column;
                width: 50%;    

                input {
                    width: 100%;
                    margin-bottom: 4rem;
                    height: 50px;
                    border-radius: 30px;
                    text-align: center;
                    font-size: 2rem;
                    -webkit-box-shadow: 0px 3px 15px 1px rgba(0,0,0,0.59); 
                    box-shadow: 0px 3px 15px 1px rgba(0,0,0,0.59);
                }

                .submit-form {
                    border: none;


                    &:hover {
                        cursor: pointer;
                    }
                    &:active {
                        -webkit-box-shadow: 0px 3px 15px 1px white; 
                        box-shadow: 0px 3px 15px 1px white;
                    }
                }
            }
        }
    }
}