body {
    padding: 0px;
    margin: 0px;

    .container-home {

        .container-sides {
            display: flex;
            align-items: center;
            height: 100vh;

            .container-left-side {
                padding: 100px;
                margin-left: 20%;

                h1 {
                    font-size: 3.5rem;
                }

                .title-paragraph {
                    font-size: 3.5rem;
                    height: 1rem;
                    @media screen and (max-width: 1581px) {
                        height: 4rem;
                    }
                }

                .my-name {
                    color: $color-1;
                }

                strong {
                    background-color: $color-1;
                    letter-spacing: 10px;
                    font-size: 1.3rem;
                }

                p {
                    letter-spacing: 2px;
                    font-size: 1.4rem;
                }

                button {
                    background-color: $color-1;
                    color: $color-2;
                    height: 4rem;
                    width: 20rem;
                    border-radius: 40px;
                    font-size: 2rem;
                    border: none;
                    -webkit-box-shadow: 0px 3px 15px 1px rgba(0,0,0,0.59); 
                    box-shadow: 0px 3px 15px 1px rgba(0,0,0,0.59);

                    &:hover {
                        cursor: pointer;
                    }
                    &:active {
                        -webkit-box-shadow: 0px 3px 15px 1px white; 
                        box-shadow: 0px 3px 15px 1px white;
    
                    }
                }
            }

            .container-right-side {
                img {
                    height: 100vh;
                }
            }
        }
    }
}